*{
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
} 

.control-buttons{
    position: fixed;
    left: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #2196f3;
    opacity: 80%;
}
.control-buttons span {
    position: absolute;
    left: 50%;
    top: 50%;
   transform: translate(-50% , -50%);
   color: #FFF;
   padding: 15px 20px;
   font-size: 30px;
   text-align: center;
   border-radius: 6px;
   cursor: pointer;
    background-color: #F44336;
    opacity: 100%;
}

.end-game {
    position: fixed;
        left: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: #2196f3;
        opacity: 0%;
        z-index: -1;
}
.end-game span{
    position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #FFF;
        padding: 15px 20px;
        font-size: 30px;
        text-align: center;
        border-radius: 6px;
        cursor: pointer;
        background-color: #F44336;
        opacity: 100%;
       
}

.end-game.show{
    opacity: 100%;
    z-index: 999;
}
.info-container {
    width: 1080px;
    margin: 20px auto 0;
    background-color: #F6F6F6;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    overflow: hidden;
    border: 2px solid #e5e7de;
    
}
.info-container .name {
    float: left;
    width: 50%;
    text-align: left;
}
.info-container .tries {
    float: right;
    width: 50%;
    text-align: right;
}
.memory-game-blocks {
    display: flex;
    width: 1100px;
    flex-wrap: wrap;
    margin: 20px auto;
    
}
.memory-game-blocks.no-clicking {
    pointer-events: none;
    cursor: not-allowed;
}
.memory-game-blocks .game-block {
    height: 100px;
    transition: transform .5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
   width: 150px;
    margin: 0 10px 20px;
    position: relative;
margin-left: 90px;

}
.memory-game-blocks .game-block .front {
    background-color: #70a9f5;
    line-height: 200px;
}
.memory-game-blocks .game-block .front::before {
    
    color: #FFF;
    font-size: 80px;
    font-weight: bold;
   text-align: center;

}
.memory-game-blocks .game-block .back {
    background-color: #ffffff;
   
    transform: rotateY(180deg);
   
}
.memory-game-blocks .game-block .back i {
   
   font-size: 80px;

  
}

.memory-game-blocks .game-block .face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    border: 5px solid #2c93e7;
}

.memory-game-blocks .game-block.is-flipped,
.memory-game-blocks .game-block.has-match {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    pointer-events: none;
}